<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLSINHVIENConnectionString"
            connectionString="Data Source=DESKTOP-0PQ4U60\SQLSERVER;Initial Catalog=QLSINHVIEN;Persist Security Info=True;User ID=sa;Password=02092002Aa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>